/* attendanceLegend.css */
.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legend-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.present {
  background-color: #e0f7fa;
}

.leave {
  background-color: #ffecc7;
}

.weekend {
  background-color: #fddede;
}

.legend-label {
  font-size: 14px;
}
